<div class="container-fluid d-flex flex-column flex-md-row align-items-stretch vh-100">
  <div class="left-section col-12 col-md-8 d-flex flex-column justify-content-center align-items-center text-center p-5">
    <div class="alert-error">
      <div *ngIf="errorMessage" class="alert alert-danger w-100 text-center" style="max-width: 400px;">
        {{ errorMessage }}
      </div>
    </div>

    <h1 class="text-white display-3 mb-5 fw-bold">Registra un nuovo account</h1>

    <form class="w-100" style="max-width: 400px;">
      <div class="mb-3">
        <input type="text" name="email" class="form-control form-control-lg rounded-pill" placeholder="Email" required [(ngModel)]="email" />
      </div>
      <div class="mb-3">
        <input type="text" name="username" class="form-control form-control-lg rounded-pill" placeholder="Username" required  [(ngModel)]="username" />
      </div>
      <div class="mb-4 position-relative">
        <input [type]="isPasswordVisible ? 'text' : 'password'" name="password" class="form-control form-control-lg rounded-pill" placeholder="Password" [(ngModel)]="password" />
        <button type="button" class="btn btn-link position-absolute top-50 end-0 translate-middle-y pe-3" (click)="showPassword()">
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
      <button class="btn btn-success btn-lg rounded-pill w-100 mt-2" type="submit" (click)="messageForm(username, email, password)">Registrati</button>
    </form>
  </div>

  <div class="right-section col-12 col-md-4 d-flex flex-column justify-content-center align-items-center text-center p-5">
    <h2 class="text-white display-5 mb-3 fw-bold">Hai già un account?</h2>
    <p class="text-white mb-4 fs-5">Accedi ora per scoprire film e serie TV!</p>
    <button class="text-black btn btn-light btn-lg rounded-pill px-5 fw-bold" (click)="switchToLogin()">Accedi</button>
  </div>
</div>
