<div class="position-relative" style="background-color: #131514">
  <app-banner-editor class="popup" [aspectRatio]="aspectRatio" [oggetto]="oggettoDaModificare" *ngIf="bannerEditor"></app-banner-editor>
  <div class="position-relative bannerDiv" style="aspect-ratio: 1/0.16; background-size: cover;" [ngStyle]="{'background-image': 'url(' + banner + ')'}">
    <div class="position-absolute" style="left: 3%; top:17%; width: 40%">
      <img [src]="propic" alt="proPic" style="width: 27%; border-radius: 25%">
      <span class="align-bottom" style="font-size: 2.5vw; color: white; padding-left: 2% ; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">{{ username }}</span>
    </div>
    <div class="dropdown-centered">
      <button class="position-absolute dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="right: 2%; bottom: 10%; border-radius: 10px; border: none;">
        Modifica <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="editProPic()" style="cursor: pointer">Foto Profilo</a></li>
        <li><a class="dropdown-item" (click)="editBanner()" style="cursor: pointer">Banner</a></li>
      </ul>
    </div>
  </div>

  <div class="contentSelection text-center" style="padding-top: 1%">
    <button class="col-1 selectionButtonRow1" name="film" (click)="activateButton(0)" style="background: #1BD75F; color: black">Film</button>
    <button class="col-1 selectionButtonRow1" name="serie" (click)="activateButton(1)">Serie TV</button>
  </div>

  <div style="margin-right: 7vw; margin-left: 7vw">
    <app-tabella-film *ngIf="showFilm"></app-tabella-film>
    <app-tabella-serie-tv class="position-relative top-0 start-0" *ngIf="!showFilm"></app-tabella-serie-tv>
  </div>
</div>
