<!--suppress ALL -->
<div class="status text-center" style="padding-top: 1%; padding-bottom: 2%">
  <button class="col-1 selectionButtonRow2" (click)="activateButton(0)" name="daVedere" style="background: #4CB2FD; color: black;">Da Vedere</button>
  <button class="col-1 selectionButtonRow2" (click)="activateButton(1)" name="inVisione">In Visione</button>
  <button class="col-1 selectionButtonRow2" (click)="activateButton(2)" name="visto">Visti</button>
</div>

<app-serie-tv-status-selector class="popup" [rowIndex]="selectedRow" *ngIf="seriesEditor"></app-serie-tv-status-selector>

<table class="table table-striped text-center" style="color: lightgray;">
  <thead class="align-middle">
  <th class="col-2">Preview</th>
  <th class="col-auto">
    <button class="btn" style="background-color: transparent; color: lightgrey;" (click)="sortByName()"><b>Titolo</b></button>
  </th>
  <th class="col-auto">
    <button class="btn" style="background-color: transparent; color: lightgrey;" (click)="sortByYear()"><b>Anno</b></button>
  </th>
  <th class="col-2"></th>
  <th class="col-auto">
    <button class="btn" style="background-color: transparent; color: lightgrey;" (click)="sortByRating()"><b>Voto</b></button>
  </th>
  <th class="col-2"></th>
  <th class="col-2"></th>
  </thead>

  <tbody class="align-middle">
  <tr  *ngFor="let riga of righe; let i=index;">
    <th>
      <!--suppress HtmlRequiredAltAttribute -->
      <img [src]="riga.immagine" style="width: 40%; background: none;">
    </th>
    <th>
      <a href="tv/{{riga.id}}" >{{riga.nome}}</a>
    </th>
    <th>
    {{riga.anno}}
    </th>
    <th>
      <button type="button" class="btn btn-primary" (click)="openPopup(i)">S{{riga.status.stagione}} E{{riga.status.episodio}} <i class="fa-solid fa-pen-to-square"></i></button>
    </th>
    <th>
      <div class="rating">
        <input value="5" name="rating+{{i}}" id="star5+{{i}}" type="radio" [value]="5" [(ngModel)]="riga.rating" (ngModelChange)="setRating(riga.id,riga.rating)">
        <label for="star5+{{i}}"></label>
        <input value="4" name="rating+{{i}}" id="star4+{{i}}" type="radio" [value]="4" [(ngModel)]="riga.rating" (ngModelChange)="setRating(riga.id,riga.rating)">
        <label for="star4+{{i}}"></label>
        <input value="3" name="rating+{{i}}" id="star3+{{i}}" type="radio" [value]="3" [(ngModel)]="riga.rating" (ngModelChange)="setRating(riga.id,riga.rating)">
        <label for="star3+{{i}}"></label>
        <input value="2" name="rating+{{i}}" id="star2+{{i}}" type="radio" [value]="2" [(ngModel)]="riga.rating" (ngModelChange)="setRating(riga.id,riga.rating)">
        <label for="star2+{{i}}"></label>
        <input value="1" name="rating+{{i}}" id="star1+{{i}}" type="radio" [value]="1" [(ngModel)]="riga.rating" (ngModelChange)="setRating(riga.id,riga.rating)">
        <label for="star1+{{i}}"></label>
      </div>
    </th>
    <th>
      <b><select
        class="btn btn-primary" style="font-size: 18px; color: white;"
        [(ngModel)]="riga.viewingStatus"
        (ngModelChange)="updateStatus(riga.id, riga.viewingStatus)">
        <option class="text-white" style="background-color: #282828" [value]="0"><b>Da Vedere</b></option>
        <option class="text-white" style="background-color: #282828" [value]="1"><b>In Visione</b></option>
        <option class="text-white" style="background-color: #282828" [value]="2"><b>Visto</b></option>
      </select>
      </b>
    </th>
    <th>
      <button type="button" class="btn btn-danger" (click)="deleteRow(riga.id)"><i class="fa-solid fa-trash" style="color: white"></i></button>
    </th>
  </tr>
  </tbody>
</table>
