<div class="base" >
  <div class="text-center" style="margin-top: 1%">
    <h1 style="color: white;">Modifica Banner</h1>
  </div>
  <!--
  <input type="file" id="file" class="form-control" (change)="fileChangeEvent($event)">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
 -->
</div>
