<div class="container-fluid homepage">
  <h1 class="content-suggestion-title">Per te</h1>
  <div class="row per-te-row">
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      </button>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-right fa-2x"></i>
      </button>
    </div>
  </div>

  <h1 class="content-suggestion-title">I più visti</h1>
  <div class="row piu-visti-row">
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      </button>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-right fa-2x"></i>
      </button>
    </div>
  </div>

</div>
