<!--<main>-->
<!--  <section class="content-suggestion-title">-->
<!--    <h1 class="suggestion-title">Per te-->
<!--    <div class="filter-button">-->
<!--      <button type="button" class="btn btn-secondary">-->
<!--        <i class="fa-solid fa-filter"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--    </h1>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <button type="button" class="btn" >-->
<!--      <i class="fa-solid fa-chevron-right fa-2x"></i>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="d-flex content-suggestion-title">-->
<!--    <div class="suggestion-title">I più visti</div>-->
<!--      <div class="filter-button">-->
<!--        <button type="button" class="btn btn-secondary">-->
<!--          <i class="fa-solid fa-filter"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--  </div>-->
<!--  <div class="row justify-content-center content-suggestion">-->
<!--    <button type="button" class="btn">-->
<!--      <i class="fa-solid fa-chevron-left fa-2x"></i>-->
<!--    </button>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <a href="#">-->
<!--        <img alt="" class="img-fluid content-art" src="assets/godzilla.jpg">-->
<!--      </a>-->
<!--    </div>-->
<!--    <button type="button" class="btn" >-->
<!--      <i class="fa-solid fa-chevron-right fa-2x"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--  </section>-->
<!--</main>-->

<div class="container-fluid homepage">
  <h1 class="content-suggestion-title">Per te</h1>
  <div class="row per-te-row">
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      </button>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg" href="#">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-right fa-2x"></i>
      </button>
    </div>
  </div>

  <h1 class="content-suggestion-title">I più visti</h1>
  <div class="row piu-visti-row">
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-left fa-2x"></i>
      </button>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg" href="#">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col content-suggestion-col">
      <a href="#">
        <img class="img-fluid content-art" src="assets/godzilla.jpg">
      </a>
    </div>
    <div class="col d-flex btn-left-right">
      <button type="button" class="btn">
        <i class="fa-solid fa-chevron-right fa-2x"></i>
      </button>
    </div>
  </div>

</div>
