
<div class="col-2 justify-content-center align-items-center d-flex">
  <i class="fa-solid fa-circle-user text-white" style="font-size: clamp(30px,4dvw,50px)"></i>
</div>

<div class="col-10 text-white d-flex flex-column justify-content-center ">
  <p  style="margin-left: 10px; margin-bottom: 0">Anonimo</p>
  <p class="text-truncated" style="font-size: 12px; margin-left: 10px;">Godzilla Miglior film del mondoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p>
</div>
