<table class="table table-striped text-center" style="color: lightgray;">
  <thead>
    <th class="col-2">Preview</th>
    <th class="col-auto">Titolo</th>
    <th class="col-auto">Anno</th>
    <th class="col-4">Voto</th>
    <th class="col-2"></th>
  </thead>
  <tbody class="align-middle">
    <tr>
      <th>
        <img src="assets/images/img.png" style="width: 40%; background: none;">
      </th>
      <th>
        Godzilla
      </th>
      <th>
        2025
      </th>
      <th>ciao</th>
      <th>
        <button type="button" class="btn dropdown-toggle btn-primary" data-bs-toggle="dropdown" aria-expanded="false">Da Vedere</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">In Visione</a></li>
          <li><a class="dropdown-item">Visto</a></li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>
        <img src="assets/images/img.png" style="width: 40%; background: none;">
      </th>
      <th>
        Godzilla
      </th>
      <th>
        2025
      </th>
      <th>ciao</th>
      <th>
        <button type="button" class="btn dropdown-toggle btn-primary" data-bs-toggle="dropdown" aria-expanded="false">Da Vedere</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">In Visione</a></li>
          <li><a class="dropdown-item">Visto</a></li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>
        <img src="assets/images/img.png" style="width: 40%; background: none;">
      </th>
      <th>
        Godzilla
      </th>
      <th>
        2025
      </th>
      <th>ciao</th>
      <th>
        <button type="button" class="btn dropdown-toggle btn-primary" data-bs-toggle="dropdown" aria-expanded="false">Da Vedere</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">In Visione</a></li>
          <li><a class="dropdown-item">Visto</a></li>
        </ul>
      </th>
    </tr>
    <tr>
      <th>
        <img src="assets/images/img.png" style="width: 40%; background: none;">
      </th>
      <th>
        Godzilla
      </th>
      <th>
        2025
      </th>
      <th>ciao</th>
      <th>
        <button type="button" class="btn dropdown-toggle btn-primary" data-bs-toggle="dropdown" aria-expanded="false">Da Vedere</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">In Visione</a></li>
          <li><a class="dropdown-item">Visto</a></li>
        </ul>
      </th>
    </tr>
  </tbody>
</table>
