.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #282828;
  color: lightgray;
  border: none;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #131514;
  color: lightgray;
  border: none;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  margin: 1%
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
  transition: color 0.3s;
}

.selectionButtonRow2{
  border: transparent solid 1px;
  border-radius: 5px;
  margin: 0.1%;
  background: #282828;
  color: lightgray;
  font-size: 1.2vw;
  width: 12%;
}

.selectionButtonRow2:focus{
  background: #4CB2FD;
  color: black;
}

.selectionButtonRow2:hover{
  border: solid 1px #4CB2FD;
}
