<div  class="justify-content-center align-items-center d-flex p-2">
<img src="assets/images/graziaAnatomia.png" class="rounded-4 copertina "  style=" overflow: hidden" alt="cardImage">
</div>

<div class="col-7 mt-4">
  <div class="d-flex justify-content-between" style="width: 50%">
    <h3>{{titolo}}</h3>
    <b><h5>E{{episodio}}S{{serie}}</h5></b>
  </div>
  <div class="d-flex justify-content-between " style="width: 80px">
    <p style="margin: 0;">{{durata}}</p>
    <p>{{voto}}</p>
  </div>


  <div>
    <p class="text-truncated">
      {{descrizione}}
    </p>
  </div>

</div>


<div class=" align-items-center justify-content-center d-flex" style="width: 30%">
  <input type="checkbox" class="form-check-input rounded-circle check"/>
</div>
