
<div class="stupido justify-content-center align-items-center col-8 d-flex flex-column" style="gap:30px">
  <div style="gap: 20px" class="d-flex flex-column ">

    <h2 class="text-white">{{titolo}}</h2>

    <app-stelle-film [rating]="rating" [maxRating]="5" [statico]="true"></app-stelle-film>

    <div class="d-flex" style="gap: 10px">
      <p class="text-white p-1" style="font-size: 15px">{{ releaseDate }}</p>
      <p *ngFor="let genre of genres;let i = index" (click)="searchGenre(genre.id)" class="elemento-genere enlarge-on-hover rounded-3 p-1 text-white"><b>{{genre.name}}</b></p>
    </div>

  </div>

  <div class="text-white" style="gap: 10px" >

    <h3 style="margin:0;font-size: 18px">Trama</h3>
    <p class="max-lines mt-3" style="font-size: 18px">{{descrizione}}</p>

    @if(inLista){
      <div class="d-flex" style="gap: 20px">
        <b><select
          class=" form-select form-select-sm rounded-1" style="font-size: 18px; width: 110px; color: black;
          background-color: #1BD75F"
          [(ngModel)]="selezione"
          (change)="updateStatus(selezione)">
          <option class="text-white" style="background-color: #282828" [value]="2"><b>Visto</b></option>
          <option class="text-white" style="background-color: #282828" [value]="0" ><b>Da Vedere</b></option>
          @if (isSerie == "tv") {
            <option class="text-white" style="background-color: #282828" [value]="1"><b>In Visione</b></option>
          }
        </select>
        </b>
        <button class = "btn text-white elemento-cestino"  (click)="rimuoviLista()" > <b> Rimuovi </b><i class="fa-solid fa-trash"></i></button>
      </div>
    } @else {
      <button class = "btn rounded-4" style="background-color: #1BD75F" (click)="addToLista()"> <b>Aggiungi a Lista </b>  <i class="fa-solid fa-plus"></i></button>
    }
  </div>

  <div>
    <app-preview-commenti></app-preview-commenti>
  </div>

</div>

<div class="col-4 justify-content-center d-flex align-items-center" style="min-width: fit-content;">
  <img src="{{posterImage}}"  style="max-height: 60dvh; width: auto" alt="">
</div>
