.comment-item {
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 16px;
  color: #f0f0f0;
  width: 1000px;
}

.replying-info {
  background-color: #2b2b2b;
  padding: 8px 12px;
  border-left: 4px solid #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  word-break: break-all;
}

.profile-pic {
  width: 50px;
  height: 50px;
}

textarea::placeholder {
  color: #888;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button:hover {
  transition: background-color 0.3s ease;
  background-color: #1565c0;
}


