
<div style="gap:10px; margin-top: 50px; overflow: hidden" class="justify-content-center align-items-center d-flex flex-column">
  <h1 class="text-white">Consigliati</h1>
  <div class="row trending-row ">

    <div class="col d-flex content-suggestion-col">
      <div *ngFor="let tv of consigliati" class="content-art-col">
        @if (tv.poster_path) {
          <a [routerLink]="'/film/'+tv.id" >
            <img [src]="'https://image.tmdb.org/t/p/w500/'+tv.poster_path"
                 alt="{{ tv.title }}"
                 class="img-fluid content-art">
          </a>
        }
      </div>
    </div>

  </div>
</div>
