.trending-row {
  margin-bottom: 80px;
}

.content-suggestion-col {
  justify-content: center;
  overflow: hidden;
  padding: 0;

}

.btn-left-right {
  justify-content: center;
  width: inherit;
  height: inherit;
}

.fa-solid {
  color: grey;
  transform: scale(1.5);
}
.fa-solid:hover {
  transition: 0.2s;
  transform: scale(2);
}

.fa-solid:active {
  color: white;
}

.content-art-col {
  padding: 10px;
  align-self: center;
  justify-content: center;
  flex: none;
}

.content-art-col:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.content-art {
  border-radius: 5px;
  height: 280px;
  width: auto;
  object-fit: cover;
}

