
<header>
    <nav class="navbar container-fluid">
        <div class="col-auto justify-content-left logo">W</div>

        <form class="col-3 justify-content-center">
        <div class="d-flex">
          <input type="text" class="searchBar form-control" placeholder="Cerca" >
          <button class="text-center searchButton" style="color: grey"><i class="fa fa-search"></i></button>
        </div>
      </form>

      <div class="col-auto" style="margin-right: 15px">
        <button class="button text-center" style="background: transparent; border-color: transparent">
          <!--<span class="align-middle" style="margin-right: 8px; color: white">Login</span> -->
          <span class="align-middle"><i class="fa-solid fa-circle-user" style="color: white; font-size: xx-large"></i></span>
        </button>
      </div>
    </nav>

  <!-- "container" contiene e centra il contenuto rispetto al viewport -->
    <!--@if (user){
      <div   class="text-end mt-3">
        <span> {{ user.username }}</span>
        <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()">Logout</button>
      </div>
    } @else {
      <a routerLink="/login">login</a>
    } !-->
</header>

<app-schermata-contenuti></app-schermata-contenuti>
