<div class="container-fluid">
  <h2 class=" my-4 justify-content-center align-items-center d-flex text-white">Episodi</h2>
</div>
<div>
  <select style="margin-left:5dvw; width: clamp(130px,7dvw,200px);font-size: 18px; background-color: #454242; border: none;outline: none" class="text-white form-select form-select-sm">
    <option>Stagione 1</option>
  </select>
</div>

<div class=" my-4 justify-content-center align-items-center d-flex flex-column text-white " style="gap: 20px">
  <app-card-episodio [titolo]="'Grazia Anatomia'" [serie]="1" [episodio]="1"></app-card-episodio>
  <app-card-episodio [titolo]="'Grazia Anatomia 2'" [serie]="1" [episodio]="2"></app-card-episodio>
  <app-card-episodio [titolo]="'Grazia Anatomia 3'" [serie]="1" [episodio]="3"></app-card-episodio>
</div>
