<div class="container-fluid homepage">
  <div class="d-flex btn-d-flex">
    <div class="btn-group filter-buttons-group">
      <button (click)="switchContent(0)" [ngClass]="{'active': showMovies}" class="btn btn-primary active btn-filters" id="movies" type="button">Film</button>
      <button (click)="switchContent(1)" [ngClass]="{'active': !showMovies}" class="btn btn-secondary inactive btn-filters" id="series" type="button">Serie TV</button>
    </div>
  </div>
  <app-suggested-movies *ngIf="showMovies"></app-suggested-movies>
  <app-suggested-series *ngIf="!showMovies"></app-suggested-series>
</div>
