<div class="stupido justify-content-center align-items-center col-8 d-flex flex-column" style="gap:30px">
  <div>
    <h2 class="text-white">{{titolo}}</h2>
    <app-stelle-film [rating]="3" [maxRating]="5" [statico]="true"></app-stelle-film>
    <p class="text-white" style="font-size: 12px">2024 &#xB7; Azione,Drammatico,Prono &#xB7; 180 min</p>
  </div>
  <div class="text-white" >
    <p style="margin:0">Trama</p>
    <p class="max-lines">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
    </p>
    <select class=" form-select form-select-sm" style="width: 110px; color: black; background-color: #1BD75F">
      <option class="text-white" style="background-color: #282828">Visto</option>
      <option class="text-white" style="background-color: #282828">In Visione</option>
      <option class="text-white" style="background-color: #282828"></option>
    </select>
  </div>

  <div>
    <app-commenti-film class="rounded-3 overflow-hidden"></app-commenti-film>
  </div>
</div>
<div class="col-4 justify-content-center d-flex align-items-center" style="min-width: fit-content;">

  <img src="assets/images/copertina.png"  style="max-height: 60dvh; width: auto" alt="">
</div>
