<body style="background-color: #131514">
  <div class="position-relative">
    <img class="container-fluid" src="assets/images/Immagine.png" alt="banner">
    <div class="position-absolute" style="left: 3%; top:17%; width: 40%">
      <img src="assets/images/Avatar.png" alt="proPic" style="width: 27%; border-radius: 25%">
      <span class="align-bottom" style="font-size: 2.5vw; color: white; padding-left: 2%">Username</span>
    </div>
    <button class="position-absolute" style="right: 2%; bottom: 10%; border-radius: 25%; border: none;">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>

  <div class="contentSelection text-center" style="padding-top: 1%">
    <button class="col-1 selectionButtonRow1" name="film" (click)="activateButton(0)" style="background: #1BD75F; color: black">Film</button>
    <button class="col-1 selectionButtonRow1" name="serie" (click)="activateButton(1)">Serie TV</button>
  </div>

  <div style="margin-right: 7vw; margin-left: 7vw">
    <app-tabella-film *ngIf="showFilm"></app-tabella-film>
    <app-tabella-serie-tv *ngIf="!showFilm"></app-tabella-serie-tv>
  </div>
</body>
