<body style="background-color: #131514">
  <div class="position-relative" style="background-color: green">
    <img class="container-fluid" src="assets/images/Immagine.png" alt="banner">
    <div class="position-absolute" style="left: 3%; top:17%; background: red; width: 40%">
      <img src="assets/images/Avatar.png" alt="proPic" style="width: 27%; border-radius: 25%">
      <span class="align-bottom" style="font-size: 2.5vw; color: white; padding-left: 2%">Username</span>
    </div>
    <button class="position-absolute" style="right: 2%; bottom: 10%; border-radius: 25%; border: none;">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>

  <div class="contentSelection text-center" style="padding-top: 1%">
    <button class="col-1 selectionButtonRow1">Film</button>
    <button class="col-1 selectionButtonRow1">Serie TV</button>
  </div>

  <div class="status text-center" style="padding-top: 1%; padding-bottom: 2%">
    <button class="col-1 selectionButtonRow2">Visti</button>
    <button class="col-1 selectionButtonRow2">In Visione</button>
    <button class="col-1 selectionButtonRow2">Da Vedere</button>
  </div>

  <div style="margin-right: 7vw; margin-left: 7vw">
    <app-tabella-film></app-tabella-film>
  </div>
</body>
