<body>
  <div class="row position-relative">
      <img src="assets/images/Immagine.png" alt="banner" style="width:100%">
    <div class="position-absolute top-50 start-50 translate-middle" style="padding-left: 4%;">
      <img src="assets/images/Avatar.png" alt="propic" style="width: 10%; border-radius: 15%;">
      <span class="align-bottom" style="margin-left: 2%; color: white; font-size: xx-large">Username</span>
    </div>
    <div class="position-absolute" style="padding-right: 1%; padding-bottom: 1%;">
      <button class="editBG" style="border-radius: 25%;"><i class="fa-solid fa-pencil"></i></button>
    </div>
  </div>

  <div class="contentSelection row justify-content-center" style="padding-top: 1%">
    <button class="col-1">Film</button>
    <button class="col-1">Serie TV</button>
  </div>

  <div class="status row justify-content-center" style="padding-top: 1%">
    <button class="col-1">Visti</button>
    <button class="col-1">In Visione</button>
    <button class="col-1">Da Vedere</button>
  </div>

  <table>

  </table>
</body>
