<body style="background-color: blue">
  <div class="position-relative" style="background-color: green">
    <img class="container-fluid" src="assets/images/Immagine.png" alt="banner">
    <div class="position-absolute " style="left: 3%; top:14%; background: red; width: 40%">
      <img src="assets/images/Avatar.png" alt="proPic" style="width: 30%; border-radius: 25%">
      <span class="align-bottom" style="font-size: xx-large; color: white; padding-left: 2%">Username</span>
    </div>
    <button class="position-absolute" style="left: 96%; top: 80%; border-radius: 25%; border: none;">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>

<!--
  <div class="contentSelection row justify-content-center" style="padding-top: 1%">
    <button class="col-1">Film</button>
    <button class="col-1">Serie TV</button>
  </div>

  <div class="status row justify-content-center" style="padding-top: 1%">
    <button class="col-1">Visti</button>
    <button class="col-1">In Visione</button>
    <button class="col-1">Da Vedere</button>
  </div>
-->
  <table>

  </table>
</body>
