<div class="container">
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="success-message" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <div class="left-section">
    <h1>Crea un nuovo account</h1>
    <p>Registrati utilizzando i social network</p>

    <div class="social-buttons">
      <button class="facebook">f</button>
      <button class="google">G+</button>
      <button class="linkedin">in</button>
    </div>

    <div class="divider">
      <span>------------------------------------------------- OPPURE -------------------------------------------------</span>
    </div>

    <form>
      <div class="input-group">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email"/>
        <input type="username" name="username" placeholder="Username" [(ngModel)]="username"/>
      </div>
      <div class="input-group">
        <input [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" [(ngModel)]="password"/>
        <button type="button" class="toggle-password" (click)="showPassword()">
          👁
        </button>
      </div>
    </form>
    <button class="left-btn" type="submit" (click)="messageForm(email,password)">Registrati</button>
  </div>

  <div class="right-section">
    <h2>Hai già un account?</h2>
    <p>Accedi ora e scopri tutti i vantaggi</p>
    <button class="right-btn" (click)="switchToLogin()">Accedi</button>
  </div>

</div>
