<div class="comment-item">
  <div *ngIf="replyingTo" class="replying-info">
    Stai rispondendo a {{ replyingTo.id }} : "{{replyingTo.text}}"
    <button class="cancel-btn" (click)="cancelReply.emit()">Annulla</button>
  </div>
  <div class="user-info">
    <img [src]="userProfilePic" alt="User Profile" class="profile-pic" />
    <span class="username">{{ username }}</span>
  </div>
  <textarea placeholder="Scrivi un commento..." [(ngModel)]="commentText" class="comment-box"></textarea>
  <app-star-review [starRating]="starRating" (ratingChange)="updateStarRating($event)"></app-star-review>
  <div class="actions">
    <button (click)="postComment()" [disabled]="!commentText.trim() || starRating === 0">Pubblica</button>
  </div>
</div>
