<div class="container-fluid">
  <h5 class=" my-4  align-items-center d-flex text-white">Sono satati trovati {{risultati.length}} risultati con : "{{ricerca}}"</h5>
</div>

<div class=" my-4 justify-content-center align-items-center d-flex flex-column text-white " style="gap: 20px">
  <app-card-ricerca [titolo]="'Grazia Anatomia'" [serie]="1" [episodio]="1"></app-card-ricerca>
  <app-card-ricerca [titolo]="'Grazia Anatomia 2'" [serie]="1" [episodio]="2"></app-card-ricerca>
  <app-card-ricerca [titolo]="'Grazia Anatomia 3'" [serie]="1" [episodio]="3"></app-card-ricerca>
</div>
